body{
    margin: 0;
    padding: 0;
} 
#paginaInicial{
    margin: 100px;
}
nav {
    background-color: rgb(50, 50, 50);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.productos-container-1{
    display: flex;
    overflow-x: auto;
    padding: 20px;
}
#logo {
    height: 70px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 20px;
}

a:hover {
    color: rgb(220, 220, 220);
}

.search-box {
    display: flex;
    align-items: center;
    width: 400px;
}

#search-input {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

#search-input:focus {
    border-color: rgb(0, 0, 0);
}

#lang {
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    margin-right: 30px;
}

.imagenProducto {
    height: 100px;
}

.productos-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
}

.productos-container-inici {
    display: flex;
    justify-content: center; 
    overflow-x: auto;
    padding: 20px;
    gap: 25px;
}

.categorias-container {
    display: flex;
    overflow-x: auto;
    margin-bottom: 10vh;
}

.product-card {
    min-width: 200px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    transition: transform 0.2s;
}

.product-card-inici {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    font-size: 15px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card-inici:hover {
    transform: scale(1.05);
}

.product-card img {
    max-height: 100px;
    object-fit: contain;
}

.categoria-card {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}

.categoria-card:hover {
    transform: scale(1.05);
}

.categoria-card img {
    width: 275px;
    height: 275px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.price {
    font-weight: bold;
    color: black;
}

.outOfStock {
    color: red;
}

.inStock {
    color: green;
}

.cesta {
    height: 40px;
    margin-right: 40px;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    display: inline;
}

.cesta-container {
    position: fixed;
    right: 0;
    top: 70px;
    width: 40%; 
    height: 100%; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-height: 100%;  
    overflow-x: auto;  
    overflow-y: hidden;
}

.producto-en-cesta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
#finalizarCompra{
    position: absolute;
    text-align: center;
}
.categorias-container {
    display: flex;           
    overflow-x: auto;      
    padding: 20px;        
    gap: 10px;             
}
.imagenCategoria{
    height: 300px;
}

#producte-item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr; /* Definimos las columnas */
    grid-template-rows: auto auto 1fr; /* Definimos las filas */
    grid-template-areas: 
        "img img desc"  /* Fila 1: imagen en las dos primeras columnas, descripción en la tercera */
        "img img desc"  /* Fila 2: misma disposición que la fila 1 */
        "form form btn"; /* Fila 3: formulario en las dos primeras columnas y botón en la tercera */
    gap: 20px; /* Espacio entre columnas y filas */
    padding: 20px;
}

.item {
    display: contents; /* Permite que los hijos se distribuyan en el grid */
}

.item img {
    grid-area: img; /* Asigna la imagen a la área 'img' */
    max-width: 500px; /* Asegura que la imagen no se desborde */
    object-fit: cover;
}

.desc {
    grid-area: desc; 
}

.form {
    grid-area: form;
}
