body{
    margin: 0;
    padding: 0;
} 
#paginaInicial{
    margin: 100px;
}
nav {
    background-color: rgb(50, 50, 50);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo {
    height: 70px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 20px;
}

a:hover {
    color: rgb(220, 220, 220);
}

.search-box {
    display: flex;
    align-items: center;
    width: 400px;
}

#search-input {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

#search-input:focus {
    border-color: rgb(0, 0, 0);
}

#lang {
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    margin-right: 30px;
}

.imagenProducto {
    height: 100px;
}

.productos-container {
    display: flex;
    justify-content: center; 
    overflow-x: auto;
    padding: 20px;
    gap: 25px;
}

.categorias-container {
    display: flex;
    overflow-x: auto;
    margin-bottom: 10vh;
}

.product-card {
    width: 450px;
    height: 450px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    transition: transform 0.2s;
    font-size: 20px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    margin-top: 40px;
    max-height: 250px;
    object-fit: contain;
}

.categoria-card {
    width: 450px;
    height: 450px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.categoria-card:hover {
    transform: scale(1.05);
}

.categoria-card img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.price {
    font-weight: bold;
    color: black;
}

.outOfStock {
    color: red;
}

.inStock {
    color: green;
}

.cesta {
    height: 40px;
    margin-right: 40px;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    display: inline;
}

.cesta-container {
    position: fixed;
    right: 0;
    top: 70px;
    width: 40%; 
    height: 100%; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-height: 100%;  
    overflow-x: auto;  
    overflow-y: hidden;
}

.producto-en-cesta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
#finalizarCompra{
    position: absolute;
    text-align: center;
}