<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Botiga</title>
</head>

<body>
    <div id="app">
        <nav>
            <img @click="irPantallaInicio" id="logo" src="./img/logo.png" alt="Logo">
            <a @click="irABotiga">Botiga</a>
            <a @click="cambiarACarrito">Checkout</a>
            <div class="search-box">
                <form method="get" id="search-form">
                    <input type="text" id="search-input" placeholder="Buscar" />
                </form>
            </div>
            <form id="marca">
                <select name="usuario" id="lang">
                    <option value="nike">Nike</option>
                    <option value="adidas">Adidas</option>
                    <option value="puma">Puma</option>
                </select>
            </form>
            <img src="./Img/cesta.png" alt="cesta" class="cesta" @click="toggleCesta">
        </nav>
        <div v-if="divActivo=='paginaDeInicio'">
            <h2>Productes millor valorats</h2>
            <div class="productos-container">
                <div v-for="(producto, index) in productos.sort((a, b) => b.valoracion - a.valoracion).slice(0, 4)":key="index" class="product-card">
                    <img :src="producto.imagen_url" :alt="producto.nombre" class="imagenProducto">
                    <h4>{{ producto.nombre }}</h4>
                    <h5 class="outOfStock" v-if="producto.stock === 0">Out of stock</h5>
                    <h5 class="inStock" v-else>On stock</h5>
                    <p class="price">{{ producto.precio }}€</p>
                </div>
            </div>

            <h2>Categorías</h2>
            <div id="categorias-container" class="categorias-container">
                <div v-for="(categoria, index) in categorias" :key="index" class="categoria-card" @click="filtrarPorCategoria(categoria.nombre)">
                    <img :src="categoria.imagen" :alt="" class="imagenCategoria" />
                </div>
            </div>

            <div id="cesta" v-if="cestaActiva" class="cesta-container">
                <h2>Carrito</h2>
                <div class="productos-container">
                    <div v-for="(producto, index) in productosEnCesta" :key="index" class="product-card">
                        <img :src="producto.imagen_url" :alt="producto.nombre" class="imagenProducto">
                        <h4>{{ producto.nombre }}</h4>
                        <p class="price">{{ producto.precio }}€</p>
                        <button @click="eliminarDeLaCesta(index)">Eliminar</button>
                    </div>
                </div>
                <h3>preu: {{precioTotal.toFixed(2)}}€</h3>
                <button v-if="finalitzaCompraActiva" id="finalizarCompra">Finalizar compra</button>
                <h4 v-if="!finalitzaCompraActiva">Esta es la cesta, aqui podras ver los productos que has añadido a la
                    cesta y podras pasar a finalizar la compra</h4>
            </div>
        </div>
        <div v-if="divActivo=='paginaPrincipal'">
            <h2>Productes més comprats</h2>
            <div id="productos-container-1" class="productos-container">
                <div v-for="(producto, index) in productos.sort((a, b) => b.valoracion - a.valoracion).slice(0, 3)"
                    :key="index" class="product-card">
                    <img :src="producto.imagen_url" :alt="producto.nombre" class="imagenProducto">
                    <h4>{{ producto.nombre }}</h4>
                    <h5 class="outOfStock" v-if="producto.stock === 0">Out of stock</h5>
                    <h5 class="inStock" v-else>On stock</h5>
                    <p class="price">{{ producto.precio }}€</p>
                </div>
            </div>


            <h2>Categorías</h2>
            <div id="categorias-container" class="categorias-container">
                <div v-for="(categoria, index) in categorias" :key="index" class="categoria-card" @click="filtrarPorCategoria(categoria.nombre)">
                    <img :src="categoria.imagen" :alt="" class="imagenCategoria" />
                </div>
            </div>


            <div id="cesta" v-if="cestaActiva" class="cesta-container">
                <h2>Carrito</h2>
                <div class="productos-container">
                    <div v-for="(producto, index) in productosEnCesta" :key="index" class="product-card">
                        <img :src="producto.imagen_url" :alt="producto.nombre" class="imagenProducto">
                        <h4>{{ producto.nombre }}</h4>
                        <p class="price">{{ producto.precio }}€</p>
                        <button @click="eliminarDeLaCesta(index)">Eliminar</button>
                    </div>
                </div>
                <h3>preu: {{precioTotal.toFixed(2)}}€</h3>
                <button v-if="finalitzaCompraActiva" id="finalizarCompra">Finalizar compra</button>
                <h4 v-if="!finalitzaCompraActiva">Esta es la cesta, aqui podras ver los productos que has añadido a la
                    cesta y podras pasar a finalizar la compra</h4>
            </div>
        </div>
        <div v-if="divActivo=='carrito'" id="cestaCompleta">
            <h2>Carrito</h2>
            <div class="productos-container">
                <div v-for="(producto, index) in productosEnCesta" :key="index" class="product-card">
                    <img :src="producto.imagen_url" :alt="producto.nombre" class="imagenProducto">
                    <h4>{{ producto.nombre }}</h4>
                    <p class="price">{{ producto.precio }}€</p>
                    <button @click="eliminarDeLaCesta(index)">Eliminar</button>
                </div>
            </div>
            <h3 v-if="finalitzaCompraActiva">preu: {{precioTotal.toFixed(2)}}€</h3>
            <button @click="volverALaPaginaPrincipal" v-if="finalitzaCompraActiva" id="finalizarCompra">Volver a la pagina principal</button>
            <h4 v-if="!finalitzaCompraActiva">No hay nada en la cesta</h4>
        </div>
    </div>
    <script type="module" src="./js/utils.js"></script>
</body>

</html>